@model mvc_app.Models.Data106_1
@{
    ViewBag.Title = "Ц.106-1 ввод";
}
<p>Ввод данных</p>
<form asp-action="Shop106_1" asp-controller="Shops">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Сырье</th>
                <th></th>
                <th>Норма</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>@Html.DisplayNameFor(model=>model.Polyethylene1)</b></td>
                <td><input type="text" asp-for="Polyethylene1" class="form-control form-control-sm" /></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model=>model.PlenkaPoly)</b></td>
                <td><input type="text" asp-for="PlenkaPoly" class="form-control form-control-sm" /></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model=>model.BagPoly)</b></td>
                <td><input type="text" asp-for="BagPoly" class="form-control form-control-sm" /></td>
                <td>0.00072</td>
            </tr>
            @* <tr>
                <td>@Html.DisplayNameFor(model=>model.PolyethyleneS1)</td>
                <td><input type="text" asp-for="PolyethyleneS1" class="form-control form-control-sm" /></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.BagPolyprop)</td>
                <td><input class="form-control form-control-sm" id="role" asp-for="BagPolyprop"></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.PolyWasteA2)</td>
                <td><input type="text" asp-for="PolyWasteA2" class="form-control form-control-sm" /></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.PolyWasteB)</td>
                <td><input type="text" asp-for="PolyWasteB" class="form-control form-control-sm" /></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.PolyWasteA4)</td>
                <td><input class="form-control form-control-sm" id="role" asp-for="PolyWasteA4"></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.PolyWasteD)</td>
                <td><input type="text" asp-for="PolyWasteD" class="form-control form-control-sm" /></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.PlenkaWaste)</td>
                <td><input type="text" asp-for="PlenkaWaste" class="form-control form-control-sm" /></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.PlenkaWasteE2)</td>
                <td><input class="form-control form-control-sm" id="role" asp-for="PlenkaWasteE2"></td>
                <td>0.00072</td>
            </tr> *@
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-light" />
    </div>
</form>

