@model mvc_app.Models.Data401
@{
    ViewBag.Title = "Ц.401 ввод";
}


<form asp-action="Shop401" asp-controller="Shops">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Сырье</th>
                <th></th>
                <th>Норма</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>@Html.DisplayNameFor(model=>model.NitronD)</b></td>
                <td><input class="form-control form-control-sm" id="role" asp-for="NitronD"></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.NAK)</td>
                <td><input type="text" asp-for="NAK" class="form-control form-control-sm" /></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.MA)</td>
                <td><input type="text" asp-for="MA" class="form-control form-control-sm" /></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.Filterpanel)</td>
                <td><input class="form-control form-control-sm" id="role" asp-for="Filterpanel"></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.Biaz)</td>
                <td><input class="form-control form-control-sm" id="role" asp-for="Biaz"></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.Natrii)</td>
                <td><input class="form-control form-control-sm" id="role" asp-for="Natrii"></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.SulphAcid)</td>
                <td><input class="form-control form-control-sm" id="role" asp-for="SulphAcid"></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.Prophor)</td>
                <td><input class="form-control form-control-sm" id="role" asp-for="Prophor"></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.Dimethil)</td>
                <td><input class="form-control form-control-sm" id="role" asp-for="Dimethil"></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.AppleAcid)</td>
                <td><input class="form-control form-control-sm" id="role" asp-for="AppleAcid"></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.AMPS)</td>
                <td><input class="form-control form-control-sm" id="role" asp-for="AMPS"></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.SodaCalc)</td>
                <td><input class="form-control form-control-sm" id="role" asp-for="SodaCalc"></td>
                <td>0.00072</td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-light" />
    </div>
</form>