@model mvc_app.Models.Data102
@{
    ViewBag.Title = "Ц.102 ввод";
}
<p>Ввод данных</p>
<form asp-action="Proceed" asp-controller="Shops">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Сырье</th>
                <th></th>
                <th>Норма</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>@Html.DisplayNameFor(model=>model.PolyethyleneS1)</b></td>
                <td><input type="text" asp-for="PolyethyleneS1" class="form-control form-control-sm" /></td>
                <td>0.00072</td>
            </tr>
            @* <tr>
                <td>@Html.DisplayNameFor(model=>model.Ethylene1)</td>
                <td><input type="text" asp-for="Ethylene1" class="form-control form-control-sm" /></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.InitDTBP)</td>
                <td><input type="text" asp-for="InitDTBP" class="form-control form-control-sm" /></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.InitBU50AL)</td>
                <td><input class="form-control form-control-sm" id="role" asp-for="InitBU50AL"></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.InitTBPEH)</td>
                <td><input type="text" asp-for="InitTBPEH" class="form-control form-control-sm" /></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.InitOil)</td>
                <td><input type="text" asp-for="InitOil" class="form-control form-control-sm" /></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.Trigonox)</td>
                <td><input class="form-control form-control-sm" id="role" asp-for="Trigonox"></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.PolyethyleneNM)</td>
                <td><input class="form-control form-control-sm" id="role" asp-for="PolyethyleneNM"></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.PolyWasteA3)</td>
                <td><input type="text" asp-for="PolyWasteA3" class="form-control form-control-sm" /></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.PolyWasteA2)</td>
                <td><input type="text" asp-for="PolyWasteA2" class="form-control form-control-sm" /></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.PolyWasteB)</td>
                <td><input class="form-control form-control-sm" id="role" asp-for="PolyWasteB"></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.PolyWasteA4)</td>
                <td><input type="text" asp-for="PolyWasteA4" class="form-control form-control-sm" /></td>
                <td>0.00072</td>
            </tr>
        </tbody> *@
    </table>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-light" />
    </div>
</form>

