@model PaginatedList<mvc_app.Models.User>
@{
    ViewBag.Title = "Admin site";
}
<div class="my-sm-2">
    <a asp-action="Create" class="btn btn-outline-info">Добавить</a>
</div>

<form asp-action="UserList" method="get">
    <!--<div class="form-actions no-color">-->
    <div class="input-group mb-3">    
        <div class="input-group-prepend">
            <span class="input-group-text">Поиск по имени:</span> 
        </div>
        <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" class="form-control col-4"/>
        <div class="input-group-append">
            <input type="submit" value="Поиск" class="btn btn-outline-primary" />
        <a asp-action="UserList" class="btn btn-outline-primary">Сбросить</a>
        </div>
    </div>

    
</form>
<!-- <p>@ViewBag.Roles</p> -->
<table class="table table-stripped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Роль</th>
            <th>Пароль</th>
            <th>Цех</th>
            <th style="width: 20%;">Действия</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.Id</td>
            @* <td>@Html.DisplayFor(model => item.Number)</td> *@
            <td>@item.Number</td>
            <td>@item.Role.Name</td>
            <td>@item.Password</td>
            <td>@item.Shop.Number</td>
            <td>
                <div class="btn-group" role="group">
                    
                    <a asp-action="Edit" asp-controller="Admin" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Изменить</a>
                    <a asp-action="Delete" asp-controller="Admin" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Удалить</a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="UserList"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-outline-primary @prevDisabled">
   <span aria-hidden="true">&laquo;</span>
   Назад
</a>
<a asp-action="UserList"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-outline-primary @nextDisabled">
   Вперед
   <span aria-hidden="true">&raquo;</span>
</a>