@model IEnumerable<mvc_app.Models.Role>
@{
    ViewBag.Title = "Список ролей";
}
<div class="my-sm-2">
    <a asp-action="Create" class="btn btn-outline-info">Добавить</a>
</div>
<!-- <p>@ViewBag.Roles</p> -->
<table class="table table-stripped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th style="width: 20%;">Действия</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>
                <div class="btn-group" role="group">
                    
                    <a asp-action="" asp-controller="Roles" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Изменить</a>
                    <a asp-action="Delete" asp-controller="Roles" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Удалить</a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>