@model mvc_app.Models.User
@{
    ViewBag.Title = Model.Number;
}
<h2>Пользователь @Model.Number</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Идентификатор</dt>
        <dd>@Model.Id</dd>

        <dt>Номер</dt>
        <dd>@Model.Number</dd>

        <dt>Пароль</dt>
        <dd>@Model.Password</dd>

        <dt>Права</dt>
        <dd>@Model.Role</dd>
    </dl>
</div>
