@model mvc_app.Models.User
@{
    ViewBag.Title = Model.Email;
    ViewBag.Name = Model.Email;
}
<h2>Пользователь @Model.Email</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Идентификатор</dt>
        <dd>@Model.Id</dd>

        <dt>Email</dt>
        <dd>@Model.Email</dd>

        <dt>Пароль</dt>
        <dd>@Model.Password</dd>

        <dt>Права</dt>
        <dd>@Model.Role</dd>
    </dl>
</div>
